.App {
  text-align: center;
  background-color: rgb(249,230,223);
  display: flex;
  flex-direction: row;
}

.form-fields{
  padding-top:3px;
  padding-bottom:3px;
  margin-bottom:10px;
  padding-left: 10px;
  cursor: text;
  background: white;
  border-radius:10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-fields input{
  border:none;
  width:30vw;
}

.more-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:10px;
}

.icon{
  margin:3px;
}

.lorem-text{
  color: #ADB5BD;
}

.cnt-submit{
  border-radius: 30px 30px;
  margin-top: 10px;

  position: relative;
  left:650px;
}

.popup-div{
  text-align: left;
}
